body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #222846;
}

p, h1, h3, li, a {
  color: #d4d8ec;
}

.container {
  margin: auto;
  overflow: hidden;
  width: 80%;
}

li {
  margin-bottom: 10px;
}

nav {
  background: #101324;
  overflow: hidden;
}

nav h1 {
  float:left;
  margin-left: 20px;
}

nav p {
  float: right;
  margin-right: 20px;
  margin-top: 24px;
}

#instructions p {
  text-align: center;
}

#options .save-load {
  display: flex;
}

#options button, .send-button button {
  width: 100%;
  height: 50px;
  margin: 5px;
  padding: 0px;
  border: 0px;
  background-color: #9fa3b9;
  transition: background-color 0.2s;
}

#options button:hover, .send-button button:hover {
  cursor: pointer;
  background-color: #bcc0d5;
}

.rule {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rule p, .rule button {
  display: inline;
  margin: 5px;
}

.rule button {
  height: 27px;
  border: 0px;
  padding: 0px 20px;
  background-color: #f2d287;
  transition: background-color 0.2s;
}

.rule button:hover {
  cursor: pointer;
  background-color: #f2dfb1;
}

.rule .delButt {
  background-color: #d52f2f;
  color: #fff;
}

.rule .delButt:hover {
  background-color: #f46464;
}

.rule input {
  margin: 0px 5px;
  padding: 5px;
  border: 0px;
  background: #f7f7f7;
}

.text-field {
  text-align: center;
  margin: 10px 0px;
}

.predefs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

input {
  font-family: monospace;
}

textarea {
  background-color: #0e0f0d;
  border: 0px;
  color: #34b329;
  padding: 5px;
}
